{%load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Story 8 Rizma</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div class="container">
	<h1>Find Books Here</h1>

	<!-- <div class="col-md-6 col-md-offset-3">
		<div class="row">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
				Top 5 Books
			</button>
		</div>
	</div>
	<br>
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Top 5 Liked Books</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">
			
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
		</div>
	</div> -->

	<input id="search">
	<button id="searchbutton" type="button">Search</button>
	
	<table class="table table-bordered" id="demo">
	</table>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
			var putResult
            var bookData
            var btn
            
            window.onload = function() {
                btn = document.getElementById("searchbutton")
                putResult = document.getElementById("demo");
            
                btn.addEventListener("click", function(){
                    var ourRequest = new XMLHttpRequest();
                    var userKeyword= document.getElementById("search").value;
                    ourRequest.open('GET', 'https://www.googleapis.com/books/v1/volumes?q='+userKeyword)
                    
                    ourRequest.onload= function () {
                        bookData = JSON.parse(ourRequest.responseText)
                        try{
                            renderHTML(bookData)
                        }
                        catch (err){
                            
                        }
                    };
                    ourRequest.send()
            
                })
            }   
            
                function NoAuthor(author) {
                    if (author == undefined){
                        return "Author Not Found"
                    }
                    else
                        return author
                }
                
                function renderHTML(data) {
                    var table="<thead><tr><th>Cover</th><th>Description</th></tr></thead><tbody>";

                    for (i = 0; i < data.items.length; i++) {

                        table += "<tr><td>" + 
                        "<img src='"+ data.items[i].volumeInfo.imageLinks.smallThumbnail +"'>"+ "</td><td>" +
                        "<b>Title:</b> " + data.items[i].volumeInfo.title + "<br>" +
                        "<b>Author:</b> " + NoAuthor(data.items[i].volumeInfo.authors) + "<br>" +
                        "<b>Publisher:</b> " + data.items[i].volumeInfo.publisher + "<br>" +
                        "<b>Published Date:</b> " + data.items[i].volumeInfo.publishedDate + "<br>" +
                        "<b>Description:</b> " + data.items[i].volumeInfo.description + "<br>" +
                        "<b>Preview Link:</b> " + data.items[i].volumeInfo.previewLink + "<br>" +
                        "<b>Info Link:</b> " + data.items[i].volumeInfo.infoLink
                        + "</td>";
                        
                      
                    }
                    table += "</tbody>" 
                    putResult.innerHTML = table;                   

                }

                function AuthorHandling(author) {
                    if (author == undefined){
                        var AuthorArray = ["Author Not Found"]
                        return AuthorArray
                    }
                    else
                        return author
                }
            

                
</script>


</body>
</html>
