<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Story9</title>

</head>

<body>
    <h1>Hello there!</h1>
    <p><a href="{%url 'story9:signup'%}">Sign Up</a> / <a href="{%url 'story9:loginUser'%}">Login</a></p>
</body>


</html>
