<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Story9</title>

</head>

<div style="text-align: center;" class="status">
  <p class="h1" style="text-align: center;">Login</p>

  <form action="" method="POST">
      {% csrf_token %}
      <div class="mb-2">
          <input type="user_id" name="user_id" id="user_id" placeholder="Username" required>
      </div>
      <div>
          <input type="password" name="password" id="password" placeholder="Password" required>
      </div>
          <p>
              {{user_not_found}}
          </p>
      <button class="btn-secondary" id="login_button">Sign in</button>
      
  </form>
</div>



</html>
