<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Story9</title>

</head>

<body>
    <div style="text-align: center;">
        <p class="h1 mt-5 mb-3">Hi {{user.username}} Selamat Datang di Website ini</p> 
    </div>

    <div class="status" style="text-align: center;">
        <form action='/story9/logout/' method="POST">
            {%csrf_token%}
            <button class="btn-secondary" type="submit">Logout</button>
        </form>
    </div>

</body>



</html>
